* {
    margin: 0;
    padding: 0;
   }
html {
	background: radial-gradient(#317b98, #081928);
}
body {
	width: 1000px;
	margin: auto;
	color: white;
	font-family: tahoma, serif;
}
#container {
	width: 80%;
	margin: auto;
}
/*стили хедер*/
header img, header h1 {
	display: inline-block;
	margin-top: 5%;
}
header img {
	margin-left: 25%;
}
header h1 {
	font-size: 3em;
	margin-left: 2% 
}
nav {
	margin-top: 5%;
}
nav li {
	display: inline-block;
	text-align: center;
	text-decoration: underline;
}
#git {
	margin-right: 25%; 
	margin-left: 25%;
}
nav h2 {
	margin-left: 10%; 
}
nav a:visited, nav a:link {
	text-decoration: none;
	color: white;
}



/*Стили мэйн*/
main {
	background-color: white;
	color: #0e4d66;
	padding: 6%;
	margin-top: 3%;
	border-radius: 10px;
	box-shadow: 0 0 10px 2px #081928;
}
p {
	padding: 5px 0;
}
.bold {
	font-weight: bold;
}
#point div, #contacts div {
	display: inline-block;
}
main h2, h3 {
	margin: 1.5% 0;
}