body {
	width: 1000px;
	margin: auto;
	text-align: center;
	font-size: 3em;
	color: #419676;
}
h2 {
	color: #1F362D;
}
#yes_bt {
	background-color: green;
	border: 10px solid #71BC9E;
	border-radius: 8px;
	color: #1F362D;
	padding: 10px 30px;
	width: 100px;
}
#no_bt {
	background-color: #C62323;
	border: 10px solid #D75454;
	border-radius: 8px;
	padding: 10px 30px;
	width: 100px;
}
#no_bt:hover {
	background-color: #D75454;
}
#yes_bt:hover {
	background-color: #71BC9E;
}
.bt {
	display: inline;
}
a, a:link {
	color: #1E2E28;
	text-decoration: none; 
}